#card {
    height: 340px;
    width: 200px;
    position:absolute;
    top: 65px;
    left: 75px;
    background-color: rgba(48, 44, 44, 0.5);
    z-index: 1;
    border-style:inset;
    border-radius: 20px;
    opacity: 0.5;
    text-align: center;
}
#card:hover{
    opacity:1;
}
#pfp {
    height:200px;
    width: 200px;
    background: url(images/pfp.gif) no-repeat center/cover;
    margin:auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.name {
    font-size: 20px;
    text-align: center;
    color:yellow;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
             1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}
.title{
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    font-size: 17px;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}
.titlelayer1{
    position: absolute;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.titleWave {
    background-size: 205% 100%;
    background-position: 0 0;
    -webkit-animation: nameWave 3s linear infinite normal;
    animation: nameWave 3s linear infinite normal;
}
@keyframes nameWave {
    0% {
    background-position: 0 0;
    }
    100% {
    background-position: 100% 0;
    }
}
.bio {
    left: 6px;
    font-family: Arial, Helvetica, sans-serif;
}
