.quote-section {
    text-align: center;
    margin: 10px;
  }
  .quote {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 10px;
    color:rgb(255, 255, 255);
    opacity: 0; /* Initially set opacity to 0 */
    transition: opacity 0.5s ease; /* Add transition effect */
  }
  .author {
    font-size: 14px;
    margin-bottom: 20px;
    opacity: 0; /* Initially set opacity to 0 */
    transition: opacity 0.5s ease; /* Add transition effect */
    color:rgb(255, 255, 255);
  }
  .navigation {
    cursor: pointer;
    font-size: 30px;
    user-select: none;
    bottom:10px;
    position: absolute;
    color:rgb(255, 255, 255);
  }
