    #typewriter {
      font-family: Arial, Helvetica, sans-serif;
      white-space: nowrap;
      overflow: hidden;
      font-size: 13px;
      margin: 0 auto;
      display: inline-block;
      padding-right: 1px;
      color: #FFFFFF;
    }

    #cursor {
      display: inline-block;
      width: 1.5px;
      height: 13px;
      background-color: #FFFFFF;
      animation: blink 0.8s infinite;
    }

    @keyframes blink {
      50% {
        opacity: 0;
      }
    }
